In [1]:
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in /Users/Madison/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in /Users/Madison/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /Users/Madison/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.17.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /Users/Madison/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from scikit-learn->sklearn) (0.16.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /Users/Madison/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.5.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /Users/Madison/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from scikit-learn->sklearn) (2.1.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv('base_inventory_files/city_mean_pending_weekly_smooth_base.csv', header=None).T.to_csv('transposed_inventory_files/city_mean_pending_weekly_smooth.csv', header=False, index=False)
pd.read_csv('base_inventory_files/city_median_pending_weekly_smooth_base.csv', header=None).T.to_csv('transposed_inventory_files/city_median_pending_weekly_smooth.csv', header=False, index=False)
pd.read_csv('base_inventory_files/city_new_pending_weekly_smooth_base.csv', header=None).T.to_csv('transposed_inventory_files/city_new_pending_weekly_smooth.csv', header=False, index=False)
pd.read_csv('base_inventory_files/city_inventory_weekly_allHomes_smooth_base.csv', header=None).T.to_csv('transposed_inventory_files/city_inventory_weekly_allHomes_smooth.csv', header=False, index=False)
pd.read_csv('base_inventory_files/city_inventory_weekly_SFH_smooth_base.csv', header=None).T.to_csv('transposed_inventory_files/city_inventory_weekly_SFH_smooth.csv', header=False, index=False)

In [4]:
mean_pending = pd.read_csv("transposed_inventory_files/city_mean_pending_weekly_smooth.csv")
median_pending = pd.read_csv("transposed_inventory_files/city_median_pending_weekly_smooth.csv")
new_pending = pd.read_csv("transposed_inventory_files/city_new_pending_weekly_smooth.csv")
inventory_all = pd.read_csv("transposed_inventory_files/city_inventory_weekly_allHomes_smooth.csv")
inventory_SFH = pd.read_csv("transposed_inventory_files/city_inventory_weekly_SFH_smooth.csv")

In [5]:
city_number = {'Total_Days':'NA', 'United States':0, 'New York, NY':1,
       'Los Angeles-Long Beach-Anaheim, CA':2, 'Chicago, IL':3,
       'Dallas-Fort Worth, TX':4, 'Philadelphia, PA':5, 'Houston, TX':6,
       'Washington, DC':7, 'Miami-Fort Lauderdale, FL':8, 'Atlanta, GA':9,
       'Boston, MA':10, 'San Francisco, CA':11, 'Detroit, MI':12, 'Riverside, CA':13,
       'Phoenix, AZ':14, 'Seattle, WA':15, 'Minneapolis-St Paul, MN':16,
       'San Diego, CA':17, 'St. Louis, MO':18, 'Tampa, FL':19, 'Baltimore, MD':20,
       'Denver, CO':21, 'Pittsburgh, PA':22, 'Portland, OR':23, 'Charlotte, NC':24,
       'Sacramento, CA':25, 'San Antonio, TX':26, 'Orlando, FL':27, 'Cincinnati, OH':28,
       'Cleveland, OH':29, 'Kansas City, MO':30, 'Las Vegas, NV':31, 'Columbus, OH':32,
       'Indianapolis, IN':33, 'San Jose, CA':34, 'Austin, TX':35, 'Virginia Beach, VA':36,
       'Nashville, TN':37, 'Providence, RI':38, 'Milwaukee, WI':39, 'Jacksonville, FL':40,
       'Memphis, TN':41, 'Oklahoma City, OK':42, 'Louisville-Jefferson County, KY':43,
       'Hartford, CT':44, 'Richmond, VA':45, 'New Orleans, LA':46, 'Buffalo, NY':47,
       'Raleigh, NC':48, 'Birmingham, AL':49, 'Salt Lake City, UT':50, 'Rochester, NY':51,
       'Grand Rapids, MI':52, 'Tucson, AZ':53, 'Tulsa, OK':54, 'Fresno, CA':55,
       'Worcester, MA':56, 'Stamford, CT':57, 'Albuquerque, NM':58, 'Albany, NY':59,
       'Omaha, NE':60, 'New Haven, CT':61, 'Bakersfield, CA':62, 'Knoxville, TN':63,
       'Greenville, SC':64, 'Ventura, CA':65, 'Allentown, PA':66, 'El Paso, TX':67,
       'Baton Rouge, LA':68, 'Dayton, OH':69, 'McAllen, TX':70, 'Columbia, SC':71,
       'Greensboro, NC':72, 'Akron, OH':73, 'North Port-Sarasota-Bradenton, FL':74,
       'Little Rock, AR':75, 'Stockton, CA':76, 'Charleston, SC':77, 'Syracuse, NY':78,
       'Colorado Springs, CO':79, 'Winston-Salem, NC':80, 'Wichita, KS':81,
       'Springfield, MA':82, 'Fort Myers, FL':83, 'Boise City, ID':84, 'Toledo, OH':85,
       'Madison, WI':86, 'Lakeland, FL':87, 'Ogden, UT':88, 'Daytona Beach, FL':89,
       'Des Moines, IA':90, 'Jackson, MS':91, 'Augusta, GA':92, 'Harrisburg, PA':93,
       'Provo, UT':94, 'Fort Collins, CO':95}

In [6]:
mean_pending.columns = mean_pending.iloc[1]
mean_pending = mean_pending.drop([0,1,2,3])
mean_pending = mean_pending.rename(columns={"RegionName": "Date"})
mean_pending = mean_pending.reset_index(drop=True)
mean_pending.insert(1, 'Total_Days', "")
x = 0
for index, row in mean_pending.iterrows():
    mean_pending["Total_Days"][index] = x
    x = x + 7
mean_base_pending = mean_pending
mean_base_pending = mean_base_pending.append(city_number, ignore_index=True)
final_count = len(mean_base_pending.index) - 1
mean_base_pending.columns = mean_base_pending.iloc[final_count]
mean_base_pending = mean_base_pending.drop([final_count])
mean_base_pending.to_json('base_inventory_files/city_mean_pending_weekly_smooth_base.json')

In [7]:
median_pending.columns = median_pending.iloc[1]
median_pending = median_pending.drop([0,1,2,3])
median_pending = median_pending.rename(columns={"RegionName": "Date"})
median_pending = median_pending.reset_index(drop=True)
median_pending.insert(1, 'Total_Days', "")
x = 0
for index, row in median_pending.iterrows():
    median_pending["Total_Days"][index] = x
    x = x + 7
median_base_pending = median_pending
median_base_pending = median_base_pending.append(city_number, ignore_index=True)
final_count = len(median_base_pending.index) - 1
median_base_pending.columns = median_base_pending.iloc[final_count]
median_base_pending = median_base_pending.drop([final_count])
median_base_pending.to_json('base_inventory_files/city_median_pending_weekly_smooth_base.json')

In [8]:
new_pending.columns = new_pending.iloc[1]
new_pending = new_pending.drop([0,1,2,3])
new_pending = new_pending.rename(columns={"RegionName": "Date"})
new_pending = new_pending.reset_index(drop=True)

In [9]:
inventory_all.columns = inventory_all.iloc[1]
inventory_all = inventory_all.drop([0,1,2,3])
inventory_all = inventory_all.rename(columns={"RegionName": "Date"})
inventory_all = inventory_all.reset_index(drop=True)

In [10]:
inventory_SFH.columns = inventory_SFH.iloc[1]
inventory_SFH = inventory_SFH.drop([0,1,2,3])
inventory_SFH = inventory_SFH.rename(columns={"RegionName": "Date"})
inventory_SFH = inventory_SFH.reset_index(drop=True)

In [11]:
mean_locations = ['United States', 'New York, NY',
       'Los Angeles-Long Beach-Anaheim, CA', 'Chicago, IL',
       'Dallas-Fort Worth, TX', 'Philadelphia, PA', 'Houston, TX',
       'Washington, DC', 'Miami-Fort Lauderdale, FL', 'Atlanta, GA',
       'Boston, MA', 'San Francisco, CA', 'Detroit, MI', 'Riverside, CA',
       'Phoenix, AZ', 'Seattle, WA', 'Minneapolis-St Paul, MN',
       'San Diego, CA', 'St. Louis, MO', 'Tampa, FL', 'Baltimore, MD',
       'Denver, CO', 'Pittsburgh, PA', 'Portland, OR', 'Charlotte, NC',
       'Sacramento, CA', 'San Antonio, TX', 'Orlando, FL', 'Cincinnati, OH',
       'Cleveland, OH', 'Kansas City, MO', 'Las Vegas, NV', 'Columbus, OH',
       'Indianapolis, IN', 'San Jose, CA', 'Austin, TX', 'Virginia Beach, VA',
       'Nashville, TN', 'Providence, RI', 'Milwaukee, WI', 'Jacksonville, FL',
       'Memphis, TN', 'Oklahoma City, OK', 'Louisville-Jefferson County, KY',
       'Hartford, CT', 'Richmond, VA', 'New Orleans, LA', 'Buffalo, NY',
       'Raleigh, NC', 'Birmingham, AL', 'Salt Lake City, UT', 'Rochester, NY',
       'Grand Rapids, MI', 'Tucson, AZ', 'Tulsa, OK', 'Fresno, CA',
       'Worcester, MA', 'Stamford, CT', 'Albuquerque, NM', 'Albany, NY',
       'Omaha, NE', 'New Haven, CT', 'Bakersfield, CA', 'Knoxville, TN',
       'Greenville, SC', 'Ventura, CA', 'Allentown, PA', 'El Paso, TX',
       'Baton Rouge, LA', 'Dayton, OH', 'McAllen, TX', 'Columbia, SC',
       'Greensboro, NC', 'Akron, OH', 'North Port-Sarasota-Bradenton, FL',
       'Little Rock, AR', 'Stockton, CA', 'Charleston, SC', 'Syracuse, NY',
       'Colorado Springs, CO', 'Winston-Salem, NC', 'Wichita, KS',
       'Springfield, MA', 'Fort Myers, FL', 'Boise City, ID', 'Toledo, OH',
       'Madison, WI', 'Lakeland, FL', 'Ogden, UT', 'Daytona Beach, FL',
       'Des Moines, IA', 'Jackson, MS', 'Augusta, GA', 'Harrisburg, PA',
       'Provo, UT', 'Fort Collins, CO']

In [12]:
#mean locations file
places_count = len(mean_locations)
for j in range(0,places_count):
    mean_location_df = mean_pending.iloc[:, [1,(2+j)]]
    mean_location_df = mean_location_df.rename(columns={f"{mean_locations[j]}": "Mean_Pending"})
    mean_location_df[["Mean_Pending"]] = mean_location_df[["Mean_Pending"]].apply(pd.to_numeric)
    mean_location_df.loc[:,'LastWeek'] = mean_location_df.loc[:,"Mean_Pending"].shift()
    mean_location_df.loc[:,'LastWeek_Diff'] = mean_location_df.loc[:,'LastWeek'].diff()
    mean_location_df.loc[:,'2Weeks'] = mean_location_df.loc[:,"LastWeek"].shift()
    mean_location_df.loc[:,'2Weeks_Diff'] = mean_location_df.loc[:,'2Weeks'].diff()
    mean_location_df = mean_location_df.dropna()
    mean_location_df = mean_location_df.reset_index(drop=True)
    X = mean_location_df[:].drop(['Mean_Pending'], axis = 1)
    y = mean_location_df["Mean_Pending"]
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=57)
    from sklearn.linear_model import LinearRegression
    model = LinearRegression()
    model.fit(X_train, y_train)
    r = len(mean_location_df.index)
    r = r - 1
    #running half a year of predicted data
    for i in range(0,25):
        LastWeekValue = mean_location_df["Mean_Pending"][r]
        TotalDaysValue = mean_location_df["Total_Days"][r] + 7
        LastWeekDifferenceValue = mean_location_df["Mean_Pending"][r] - mean_location_df["LastWeek"][r]
        TwoWeekValue = mean_location_df["LastWeek"][r]
        TwoWeekDifferenceValue = mean_location_df["LastWeek"][r] - mean_location_df["2Weeks"][r]
        NewX = [[TotalDaysValue, LastWeekValue, LastWeekDifferenceValue, TwoWeekValue, TwoWeekDifferenceValue]]
        predicted_value = model.predict(NewX)
        predicted_number = str(predicted_value).lstrip('[').rstrip(']')
        predicted_pending = float(predicted_number)
        new_row = {'Total_Days': TotalDaysValue, 'Mean_Pending': predicted_pending, 'LastWeek': LastWeekValue, 'LastWeek_Diff': LastWeekDifferenceValue, "2Weeks" :TwoWeekValue, "2Weeks_Diff" : TwoWeekDifferenceValue}
        mean_location_df = mean_location_df.append(new_row, ignore_index = True)
        r = r + 1
        i = i + 1
    mean_location_final = mean_location_df[["Total_Days", "Mean_Pending"]]
    mean_location_final = mean_location_final.rename(columns={"Mean_Pending": mean_locations[j]})
    if j == 0:
        final_mean_pending = mean_location_final
    else:
        final_mean_pending = pd.merge(final_mean_pending, mean_location_final, on=["Total_Days", "Total_Days"], how="outer")
    j = j + 1
final_mean_pending = final_mean_pending.fillna('')
final_mean_pending = final_mean_pending.append(city_number, ignore_index=True)
final_count = len(final_mean_pending.index) - 1
final_mean_pending.columns = final_mean_pending.iloc[final_count]
final_mean_pending = final_mean_pending.drop([final_count])
final_mean_pending

204,NA,0,1,2,3,4,5.0,6.0,7,8,...,86,87.0,88,89.0,90.0,91,92,93.0,94,95
0,21,78,107,50,87,64,91.000000,76.000000,72,85,...,83,70.000000,53,65.000000,71.000000,97,,83.000000,47,74
1,28,75,104,46,83,62,87.000000,73.000000,73,84,...,77,70.000000,49,73.000000,68.000000,91,,80.000000,42,71
2,35,73,99,42,79,58,83.000000,73.000000,67,85,...,71,62.000000,43,77.000000,68.000000,89,,82.000000,37,70
3,42,71,93,40,76,55,81.000000,70.000000,66,84,...,73,63.000000,42,84.000000,68.000000,88,,84.000000,36,66
4,49,68,88,37,70,52,83.000000,68.000000,65,82,...,65,57.000000,36,80.000000,64.000000,82,,86.000000,40,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,1414,,,,,,18.564630,18.085415,,,...,,4.377587,,20.290967,19.527320,,11.2043,17.036644,,34.3826
200,1421,,,,,,18.403695,18.018504,,,...,,4.100556,,20.126380,19.584628,,10.9171,16.889303,,34.2757
201,1428,,,,,,18.194671,17.943266,,,...,,3.822878,,19.947989,19.620603,,10.6214,16.731532,,34.1662
202,1435,,,,,,17.946163,17.860086,,,...,,3.544568,,19.756862,19.636523,,10.3176,16.565196,,34.0547
203,1442,,,,,,17.666185,17.769331,,,...,,3.265639,,19.553981,19.633591,,10.0066,16.391831,,33.9417

In [13]:
#median locations file
places_count = len(mean_locations)
for j in range(0,places_count):
    median_location_df = median_pending.iloc[:, [1,(2+j)]]
    median_location_df = median_location_df.rename(columns={f"{mean_locations[j]}": "Median_Pending"})
    median_location_df[["Median_Pending"]] = median_location_df[["Median_Pending"]].apply(pd.to_numeric)
    median_location_df.loc[:,'LastWeek'] = median_location_df.loc[:,"Median_Pending"].shift()
    median_location_df.loc[:,'LastWeek_Diff'] = median_location_df.loc[:,'LastWeek'].diff()
    median_location_df.loc[:,'2Weeks'] = median_location_df.loc[:,"LastWeek"].shift()
    median_location_df.loc[:,'2Weeks_Diff'] = median_location_df.loc[:,'2Weeks'].diff()
    median_location_df = median_location_df.dropna()
    median_location_df = median_location_df.reset_index(drop=True)
    X = median_location_df[:].drop(['Median_Pending'], axis = 1)
    y = median_location_df["Median_Pending"]
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=57)
    from sklearn.linear_model import LinearRegression
    model = LinearRegression()
    model.fit(X_train, y_train)
    r = len(median_location_df.index)
    r = r - 1
    #running half a year of predicted data
    for i in range(0,25):
        LastWeekValue = median_location_df["Median_Pending"][r]
        TotalDaysValue = median_location_df["Total_Days"][r] + 7
        LastWeekDifferenceValue = median_location_df["Median_Pending"][r] - median_location_df["LastWeek"][r]
        TwoWeekValue = median_location_df["LastWeek"][r]
        TwoWeekDifferenceValue = median_location_df["LastWeek"][r] - median_location_df["2Weeks"][r]
        NewX = [[TotalDaysValue, LastWeekValue, LastWeekDifferenceValue, TwoWeekValue, TwoWeekDifferenceValue]]
        predicted_value = model.predict(NewX)
        predicted_number = str(predicted_value).lstrip('[').rstrip(']')
        predicted_pending = float(predicted_number)
        new_row = {'Total_Days': TotalDaysValue, 'Median_Pending': predicted_pending, 'LastWeek': LastWeekValue, 'LastWeek_Diff': LastWeekDifferenceValue, "2Weeks" :TwoWeekValue, "2Weeks_Diff" : TwoWeekDifferenceValue}
        median_location_df = median_location_df.append(new_row, ignore_index = True)
        r = r + 1
        i = i + 1
    median_location_final = median_location_df[["Total_Days", "Median_Pending"]]
    median_location_final = median_location_final.rename(columns={"Median_Pending": mean_locations[j]})
    if j == 0:
        final_median_pending = median_location_final
    else:
        final_median_pending = pd.merge(final_median_pending, median_location_final, on=["Total_Days", "Total_Days"], how="outer")
    j = j + 1
final_median_pending = final_median_pending.fillna('') 
final_median_pending = final_median_pending.append(city_number, ignore_index=True)
final_count = len(final_median_pending.index) - 1
final_median_pending.columns = final_median_pending.iloc[final_count]
final_median_pending = final_median_pending.drop([final_count])
final_median_pending

204,NA,0,1,2,3,4,5.0,6.0,7,8,...,86,87.0,88,89.0,90.0,91,92,93.0,94,95
0,21,41,72,23,52,37,61.000000,38.000000,47,44,...,56,28.000000,29,41.000000,39.000000,50,,51.000000,30,36
1,28,36,70,18,43,33,57.000000,34.000000,45,44,...,46,33.000000,20,54.000000,33.000000,48,,46.000000,26,28
2,35,31,64,15,36,30,51.000000,31.000000,38,42,...,39,26.000000,14,51.000000,31.000000,44,,45.000000,19,18
3,42,26,55,14,29,26,47.000000,27.000000,35,40,...,40,27.000000,12,49.000000,25.000000,45,,50.000000,17,17
4,49,22,45,14,21,23,42.000000,23.000000,33,37,...,29,27.000000,11,45.000000,24.000000,37,,48.000000,16,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,1414,,,,,,7.853781,11.579682,,,...,,4.786297,,6.076955,18.303976,,-1.67176,5.294594,,17.7252
200,1421,,,,,,7.577571,11.588595,,,...,,4.756006,,5.944963,18.201954,,-1.95458,5.200781,,17.6855
201,1428,,,,,,7.315015,11.587992,,,...,,4.724248,,5.807100,18.078815,,-2.23744,5.110814,,17.6564
202,1435,,,,,,7.070634,11.578835,,,...,,4.691064,,5.663860,17.941589,,-2.52034,5.023485,,17.6352
203,1442,,,,,,6.847088,11.561986,,,...,,4.656491,,5.515696,17.796243,,-2.80327,4.937754,,17.6198

In [ ]:
final_mean_pending.insert(0, 'Date', "")

In [23]:
import datetime
day21 = "2018-01-27"
date = datetime.datetime.strptime(day21, "%Y-%m-%d")
date_format = "%Y-%m-%d"
for index, row in final_mean_pending.iterrows():
    final_mean_pending["Date"][index] = date
    date = date + datetime.timedelta(days=7)
for index, row in final_mean_pending.iterrows():
    date = final_mean_pending["Date"][index] 
    date_for = date.strftime(date_format)
    final_mean_pending["Date"][index] = date_for
final_mean_pending

/Users/Madison/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Madison/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

204,Date,NA,0,1,2,3,4,5.0,6.0,7,...,86,87.0,88,89.0,90.0,91,92,93.0,94,95
0,2018-01-27,21,78,107,50,87,64,91.000000,76.000000,72,...,83,70.000000,53,65.000000,71.000000,97,,83.000000,47,74
1,2018-02-03,28,75,104,46,83,62,87.000000,73.000000,73,...,77,70.000000,49,73.000000,68.000000,91,,80.000000,42,71
2,2018-02-10,35,73,99,42,79,58,83.000000,73.000000,67,...,71,62.000000,43,77.000000,68.000000,89,,82.000000,37,70
3,2018-02-17,42,71,93,40,76,55,81.000000,70.000000,66,...,73,63.000000,42,84.000000,68.000000,88,,84.000000,36,66
4,2018-02-24,49,68,88,37,70,52,83.000000,68.000000,65,...,65,57.000000,36,80.000000,64.000000,82,,86.000000,40,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,2021-11-20,1414,,,,,,18.564630,18.085415,,...,,4.377587,,20.290967,19.527320,,11.2043,17.036644,,34.3826
200,2021-11-27,1421,,,,,,18.403695,18.018504,,...,,4.100556,,20.126380,19.584628,,10.9171,16.889303,,34.2757
201,2021-12-04,1428,,,,,,18.194671,17.943266,,...,,3.822878,,19.947989,19.620603,,10.6214,16.731532,,34.1662
202,2021-12-11,1435,,,,,,17.946163,17.860086,,...,,3.544568,,19.756862,19.636523,,10.3176,16.565196,,34.0547
203,2021-12-18,1442,,,,,,17.666185,17.769331,,...,,3.265639,,19.553981,19.633591,,10.0066,16.391831,,33.9417

In [24]:
final_median_pending.insert(0, 'Date', "")

In [25]:
day21 = "2018-01-27"
date = datetime.datetime.strptime(day21, "%Y-%m-%d")
date_format = "%Y-%m-%d"
for index, row in final_median_pending.iterrows():
    final_median_pending["Date"][index] = date
    date = date + datetime.timedelta(days=7)
for index, row in final_median_pending.iterrows():
    date = final_median_pending["Date"][index] 
    date_for = date.strftime(date_format)
    final_median_pending["Date"][index] = date_for
final_median_pending

/Users/Madison/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/Madison/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

204,Date,NA,0,1,2,3,4,5.0,6.0,7,...,86,87.0,88,89.0,90.0,91,92,93.0,94,95
0,2018-01-27,21,41,72,23,52,37,61.000000,38.000000,47,...,56,28.000000,29,41.000000,39.000000,50,,51.000000,30,36
1,2018-02-03,28,36,70,18,43,33,57.000000,34.000000,45,...,46,33.000000,20,54.000000,33.000000,48,,46.000000,26,28
2,2018-02-10,35,31,64,15,36,30,51.000000,31.000000,38,...,39,26.000000,14,51.000000,31.000000,44,,45.000000,19,18
3,2018-02-17,42,26,55,14,29,26,47.000000,27.000000,35,...,40,27.000000,12,49.000000,25.000000,45,,50.000000,17,17
4,2018-02-24,49,22,45,14,21,23,42.000000,23.000000,33,...,29,27.000000,11,45.000000,24.000000,37,,48.000000,16,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,2021-11-20,1414,,,,,,7.853781,11.579682,,...,,4.786297,,6.076955,18.303976,,-1.67176,5.294594,,17.7252
200,2021-11-27,1421,,,,,,7.577571,11.588595,,...,,4.756006,,5.944963,18.201954,,-1.95458,5.200781,,17.6855
201,2021-12-04,1428,,,,,,7.315015,11.587992,,...,,4.724248,,5.807100,18.078815,,-2.23744,5.110814,,17.6564
202,2021-12-11,1435,,,,,,7.070634,11.578835,,...,,4.691064,,5.663860,17.941589,,-2.52034,5.023485,,17.6352
203,2021-12-18,1442,,,,,,6.847088,11.561986,,...,,4.656491,,5.515696,17.796243,,-2.80327,4.937754,,17.6198

In [26]:
final_mean_pending.to_csv("predicted_inventory_files/city_mean_pending_weekly_predicted.csv", index=False)
final_mean_pending.to_json("predicted_inventory_files/city_mean_pending_weekly_predicted.json")

In [27]:
final_median_pending.to_csv("predicted_inventory_files/city_median_pending_weekly_predicted.csv", index=False)
final_median_pending.to_json("predicted_inventory_files/city_median_pending_weekly_predicted.json")